bin/
target/
file/
.idea/
out/
logs/
build/
gen-java/
.externalToolBuilders/
.settings/
.gradle/
.classpath
.project
.springBeans
dependency-reduced-pom.xml
*.iml
*.ipr
*.iws
nohup.out
.DS_Store
/tmp
*.p12
