<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 控制台输出日志 -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder charset="UTF-8">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{26} - %msg%n</Pattern>
    </encoder>
  </appender>

  <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
         <File>logs/loorping.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/loorping.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

  <logger name="org.loopring" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="stdout" />
    <appender-ref ref="file" />
  </root>
</configuration>
